if status is-interactive
    #### INITIALIZE OH-MY-POSH
    oh-my-posh init fish | source

    #### INITIALIZE MISE
    eval "$(mise activate fish)"
end

#### ADD TAB COMPLETIONS
{{ completion "fish" }}