{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew update
brew upgrade

brew bundle --no-lock --file=/dev/stdin <<EOF

{{- $workComputer := .workComputer -}}
{{- range $index, $element := .apps -}}

{{- if $element.darwin -}}
{{- if not (and (eq $workComputer true) (eq $element.forPersonal true)) -}}

{{ if eq $element.darwin.method "brew" }}
brew '{{ $element.darwin.id }}'

{{- else if eq $element.darwin.method "brew-cask" }}
cask '{{ $element.darwin.id }}'

{{- else if eq $element.darwin.method "brew-tap" }}
tap '{{ $element.darwin.id }}'
{{- end -}}

{{- end -}}
{{- end -}}
{{- end }}
EOF
{{- end }}