#!/bin/bash

{{- $rootDir := .chezmoi.sourceDir }}

while IFS= read -r extension; do
  if [ -n "$extension" ]; then
    echo "Installing extension: $extension"
    code --install-extension "$extension" --force
  fi
done < {{ $rootDir }}/vscode-extensions.txt