{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew update
brew upgrade

brew bundle --no-lock --file=/dev/stdin <<EOF
#### CLI TOOLS
brew 'bitwarden-cli'
brew 'fluxcd/tap/flux'
brew 'gh'
brew 'gnupg'
brew 'go-task/tap/go-task'
brew 'hashicorp/tap/terraform'
brew 'kubectl'
brew 'nvm'
brew 'pyenv'
brew 'starship'
brew 'terraform'
brew 'velero'

#### BROWSERS
tap 'homebrew/cask-versions'
cask 'firefox-developer-edition'
cask 'google-chrome'

#### DEV TOOLS
cask 'iterm2'
cask 'postman'
cask 'visual-studio-code-insiders'

#### SECOND BRAIN APPS
cask 'notion-enhanced'
cask 'obsidian'
EOF
{{- end }}