{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew update
brew upgrade

brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'bitwarden-cli'
brew 'firefox-developer-edition'
brew 'fluxcd/tap/flux'
brew 'gh'
brew 'gnupg'
brew 'go-task/tap/go-task'
brew 'hashicorp/tap/terraform'
brew 'kubectl'
brew 'nvm'
brew 'pyenv'
brew 'starship
brew 'terraform'
brew 'velero'
cask 'google-chrome'
cask 'iterm2'
cask 'notion-enhanced'
cask 'obsidian'
cask 'postman'
cask 'visual-studio-code-insiders'
EOF
{{- end }}