{{- if eq .chezmoi.os "windows" -}}
{{- template "elevate-powershell" }}

Set-ExecutionPolicy RemoteSigned -Scope CurrentUser

$CommandProcessor="HKLM:\SOFTWARE\Microsoft\Command Processor"
$cmdRcPath="$env:USERPROFILE\.cmdrc.cmd"
Set-Itemproperty -path $CommandProcessor -Name "AutoRun" -value $cmdRcPath
{{- end -}}