#### INITIALIZE OH-MY-POSH
oh-my-posh init pwsh --config "tokyo" | Invoke-Expression

#### ADD TAB COMPLETIONS
gh completion -s powershell | Out-String | Invoke-Expression
kubectl completion powershell | Out-String | Invoke-Expression
{{ completion "powershell" }}

Clear-Host