#### INITIALIZE MISE
mise activate pwsh | Out-String | Invoke-Expression
mise install | Out-Null

#### INITIALIZE OH-MY-POSH
oh-my-posh init pwsh | Invoke-Expression

#### ADD TAB COMPLETIONS
gh completion -s powershell | Out-String | Invoke-Expression
kubectl completion powershell | Out-String | Invoke-Expression
{{ completion "powershell" }}

Clear-Host