{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Personal email address" -}}
{{- $workComputer := promptBoolOnce . "workComputer" "Is this a work computer" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $githubUsername := promptStringOnce . "githubUsername" "Github username" -}}
{{- $projectPath := promptStringOnce . "projectPath" "What path to use for Projects" -}}
{{- $programPath := promptStringOnce . "programPath" "Where should programs be installed" -}}
[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    workComputer = {{ $workComputer }}
    workEmail = {{ $workEmail | quote }}
    githubUsername = {{ $githubUsername | quote }}
    projectPath = {{ $projectPath |quote }}
    programPath = {{ $programPath | quote }}
[edit]
    command = "code"
    args = ["--wait"]
[template]
    options = ["missingkey=zero"]
