{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Personal email address" -}}
{{- $workComputer := promptBoolOnce . "workComputer" "Is this a work computer" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $workGithubOrg := promptStringOnce . "workGithubOrg" "Work Github Org" -}}
{{- $githubUsername := promptStringOnce . "githubUsername" "Github username" -}}
{{- $projectPath := promptStringOnce . "projectPath" "What path to use for Projects" -}}
{{- $themes := list "dracular" "molokai" -}}
{{- $colorscheme := promptChoice "What color scheme would you like to use" $themes -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
workComputer = {{ $workComputer }}
workEmail = {{ $workEmail | quote }}
workGithubOrg = {{ $workGithubOrg | quote }}
githubUsername = {{ $githubUsername | quote }}
projectPath = {{ $projectPath | quote }}

[data.drapeau]
colorscheme = {{ $colorscheme | quote }}

[edit]
command = "code"
args = ["--wait"]

[merge]
{{- if eq .chezmoi.os "windows" }}
command = "powershell"
args = ["-Command", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]
{{- else }}
command = "bash"
args = ["-c", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]
{{- end }}

[diff]
command = "code"
args = ["--wait", "--diff", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]

[template]
options = ["missingkey=zero"]
