{{- if eq .chezmoi.os "windows" -}}
.bashrc
.zshrc
Library/**
.chezmoiscripts/Darwin/**
{{- end -}}
{{- if ne .chezmoi.os "windows" -}}
.cmdrc.cmd
AppData/**
.chezmoiscripts/Windows/**
{{- end }}
setup
README.md
docs

# These are handled by a script
Microsoft.PowerShell_profile.ps1
vscode-extensions.txt