{{- if eq .chezmoi.os "windows" -}}
.bashrc
.zshrc
Library/**
.chezmoiscripts/Darwin/**
{{- end -}}
{{- if ne .chezmoi.os "windows" -}}
.cmdrc.cmd
AppData/**
.chezmoiscripts/Windows/**
Documents/**
{{- end }}
setup
README.md
docs

# These are handled by a script
vscode-extensions.txt