{{- if eq .chezmoi.os "windows" -}}
{{- template "elevate-powershell" }}

#### SET .cmdrc.cmd AS AUTORUN
$CommandProcessor="HKLM:\SOFTWARE\Microsoft\Command Processor"
$cmdRcPath="$env:USERPROFILE\.cmdrc.cmd"
Set-Itemproperty -path $CommandProcessor -Name "AutoRun" -value $cmdRcPath

#### DISABLE CLINK WELCOME MESSAGE
cmd.exe "clink autorun install -- --quiet"

#### CREATE wsl-ssh-pageant STARTUP SHORTCUT
$action = New-ScheduledTaskAction -Execute 'powershell.exe' -Argument '-NoExit -noprofile -WindowStyle Hidden -Command "wsl-ssh-pageant --winssh ssh-pageant --systray"'
$trigger = New-ScheduledTaskTrigger -AtLogOn
Register-ScheduledTask -Force -Action $action -Trigger $trigger -TaskPath "My Tasks" -TaskName "wsl-ssh-pageant"

#### MOVE Microsoft.Powershell_profile.ps1 SCRIPT TO CORRECT LOCATION
# Microsoft.Powershell_profile.ps1 hash: {{ include "Microsoft.Powershell_profile.ps1" | sha256sum }}
Copy-Item -Force -Path {{ .chezmoi.sourceDir }}\Microsoft.Powershell_profile.ps1 -Destination "$PROFILE"
{{- end -}}