{{- if eq .chezmoi.os "windows" -}}
{{- template "elevate-powershell" }}

# Chrome - couldn't upgrade on D: no matter what I tried
# Spotify need to investigate upgrade location switch
# VLC - upgrade location switch is not working
# Firefox Developer
# Postman

{{- if not .workComputer }}
choco upgrade cura-new -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "Cura" }}"{{ end }}
choco upgrade steam-client -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "Steam" }}"{{ end }}
choco upgrade rainmeter -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "Rainmeter" }}"{{ end }}
{{- end }}

#### CLI TOOLS
choco upgrade bitwarden-cli -y
choco upgrade clink-maintained -y {{ if .programPath }}--ia "/D={{ joinPath .programPath "Clink" }}"{{ end }}
choco upgrade flux -y
choco upgrade gh -y {{ if .programPath }}--ia "INSTALLDIR=""{{ joinPath .programPath "Github-CLI" }}"""{{ end }}
choco upgrade git.install -y {{ if .programPath }}--ia "/DIR=""{{ joinPath .programPath "Git" }}"""{{ end }}
choco upgrade go-task -y
choco upgrade kubernetes-cli -y
choco upgrade nvm.install -y
choco upgrade pyenv-win -y
choco upgrade starship -y
choco upgrade terraform -y
choco upgrade velero -y

#### BROWSERS
choco upgrade firefox-dev --pre -y
choco upgrade googlechrome -y

#### MEDIA
choco upgrade icloud -y {{ if .programPath }}--ia "INSTALLDIR=""{{ joinPath .programPath "iCloud" }}"""{{ end }}

#### DEV TOOLS
choco upgrade postman -y
choco upgrade vscode-insiders.install -y {{ if .programPath }}--ia "/DIR=""{{ joinPath .programPath "VSCode" }}"""{{ end }}
choco upgrade yubikey-manager -y {{ if .programPath }}--ia "/D={{ joinPath .programPath "Yubikey" }}"{{ end }}
choco upgrade putty.install -y
choco upgrade wsl-ssh-pageant -y

#### UTILS
choco upgrade 7zip.install {{ if .programPath }}--ia /D="{{ joinPath .programPath "7Zip" }}"{{ end }}
choco upgrade gpg4win -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "GPG4Win" }}"{{ end }}

#### SECOND BRAIN APPS
choco upgrade notion-repackaged -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "Notion" }}"{{ end }}
choco upgrade obsidian -y {{ if .programPath }}--ia /D="{{ joinPath .programPath "Obsidian" }}"{{ end }}

#### FONTS
choco upgrade firacode -y
choco upgrade cascadiacode -y
choco upgrade cascadiacodepl -y
choco upgrade cascadiafonts -y
choco upgrade cascadiamono -y
choco upgrade cascadiamonopl -y
choco upgrade fontbase -y
choco upgrade hackfont -y
choco upgrade sourcecodepro -y
{{- end }}