{{- if eq .chezmoi.os "windows" -}}
{{ template "elevate-powershell" }}

{{- $programPath := .programPath -}}
{{- $rootDir := .chezmoi.sourceDir }}

# default-packages hash: {{ include "default-packages" | sha256sum }}

{{- range $index, $element := .apps -}}
{{- if $element.windows -}}
{{- if eq $element.windows.id "CoreyButler.NVMforWindows" }}
Copy-Item -Force -Path {{ $rootDir }}\default-packages -Destination "{{ joinPath $programPath $element.windows.folder }}"
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}