{{- if eq .chezmoi.os "windows" -}}
{{- template "elevate-powershell" }}

#### SET .cmdrc.cmd AS AUTORUN
$CommandProcessor="HKLM:\SOFTWARE\Microsoft\Command Processor"
$cmdRcPath="$env:USERPROFILE\.cmdrc.cmd"
Set-Itemproperty -path $CommandProcessor -Name "AutoRun" -value $cmdRcPath

#### ENABLE CLINK AUTORUN AND DISABLE WELCOME MESSAGE
cmd.exe /c '"%CLINK_DIR%\clink.bat" autorun install -a -- --quiet'
{{- end -}}