# .chezmoidata.yaml hash: {{ include ".chezmoidata.yaml" | sha256sum }}

{{ template "elevate-powershell" }}

{{- $programPath := .programPath -}}
{{- $workComputer := .workComputer -}}
{{- range $index, $element := .apps -}}

{{- if $element.windows -}}
{{- if not (and (eq $workComputer true) (eq $element.forPersonal true)) -}}
Write-Host "Processing {{ $element.windows.id }}"
{{- if eq $element.windows.method "winget" }}

$PackageVersion = $(Find-WinGetPackage -MatchOption Equals -Id {{ $element.windows.id }}).Version
$InstalledVersion = $(Get-WinGetPackage -MatchOption Equals -Id {{ $element.windows.id }}).InstalledVersion
if ($InstalledVersion) {
  if ($PackageVersion -ne $InstalledVersion) {
    Write-Host "Updating from $($InstalledVersion) to $($PackageVersion) via WinGet..." -ForegroundColor Green
    Update-WinGetPackage -Mode Silent -MatchOption Equals -Id {{ $element.windows.id }}
  } else {
    Write-Host "No update required" -ForegroundColor Yellow
  }
} else {
  if (-not $PackageVersion) {
    Write-Host "Does not exist in WinGet" -ForegroundColor Red
  } else {
    Write-Host "Installing {{ $element.windows.id }} via WinGet..." -ForegroundColor Green
    Install-WinGetPackage -Mode Silent -MatchOption Equals -Id {{ $element.windows.id }}
  }
}

{{- else if eq $element.windows.method "choco" }}

$PackageVersion = $(choco search -r -e {{ $element.windows.id }} | ConvertFrom-Csv -delimiter "|" -Header Id,Version).Version
$InstalledVersion = $(choco list --lo -r -e {{ $element.windows.id }} | ConvertFrom-Csv -delimiter "|" -Header Id,Version).Version
if ($InstalledVersion) {
  if ($PackageVersion -ne $InstalledVersion) {
    Write-Host "Updating from $($InstalledVersion) to $($PackageVersion) via Chocolately..." -ForegroundColor Green
    choco upgrade -e {{ $element.windows.id }} -y | Out-Null
  } else {
    Write-Host "No update required" -ForegroundColor Yellow
  }
} else {
  if (-not $PackageVersion) {
    Write-Host "Does not exist in Chocolately" -ForegroundColor Red
  }
  Write-Host "Installing {{ $element.windows.id }} via Chocolately..." -ForegroundColor Green
  choco install -e {{ $element.windows.id }} -y | Out-Null
}
{{ end }}
Write-Host ""
{{ end }}
{{- end }}
{{- end }}
refreshenv