{{- if eq .chezmoi.os "windows" -}}
{{- template "elevate-powershell" }}

{{- $projectPath := .projectPath -}}
{{- $workGithubOrg := .workGithubOrg -}}
{{- $githubUsername := .githubUsername }}

try {
    gh auth status
} catch {
    gh auth login -p ssh --web
}

$projectPath = {{ $projectPath | quote }} + "\Work"
$workGithubOrg = {{ $workGithubOrg | quote }}
$githubUsername = {{ $githubUsername | quote }}
$dateQuery = ">=" + (Get-Date).AddDays(-180).ToString('yyyy-MM-dd') # 6 months ago
$repos = gh repo list $workGithubOrg --source --json name,nameWithOwner | ConvertFrom-Json
try {
    foreach ($repo in $repos) {
        $commits = gh search commits --repo $repo.namewithOwner --committer $githubUsername --committer-date $dateQuery

        if ($commits) {
            $repoPath = Join-Path -Path $projectPath -ChildPath $repo.name

            if (-Not (Test-Path $repoPath)) {
                gh repo clone $repo.nameWithOwner $repoPath
            } else {
                echo "$repoPath already exists"
            }
        }
    }
} catch {
    echo "An Error has occurred. Possibly due to the Github API rate limits. Wait a couple of minutes and try again."
}

{{- end -}}