# .chezmoidata.yaml hash: {{ include ".chezmoidata.yaml" | sha256sum }}

{{- template "elevate-powershell" }}

{{- $programPath := .programPath -}}
{{- $workComputer := .workComputer -}}
{{- range $index, $element := .apps -}}

{{- if $element.windows -}}
{{- if not (and (eq $workComputer true) (eq $element.forPersonal true)) -}}
{{- if eq $element.windows.method "winget" }}

winget list -e {{ $element.windows.id }}
if ($?) {
  winget upgrade -e --id {{ $element.windows.id }}{{ end }}
} else {
  winget install -e --id {{ $element.windows.id }}{{ end }}
}

{{- else if eq $element.windows.method "choco" }}

choco upgrade {{ $element.windows.id }} --install-if-not-installed -y

{{- end -}}
{{- end -}}
{{- end -}}
{{- end }}

refreshenv