{{- template "elevate-powershell" }}

#### Debloat Windows https://github.com/Raphire/Win11Debloat
Write-Output "Debloating Windows"
& ([scriptblock]::Create((irm "https://debloat.raphi.re/"))) -Silent -RunDefaults