{{- template "elevate-powershell" }}

#### Debloat Windows https://github.com/Raphire/Win11Debloat
Write-Output "Debloating Windows"
& ([scriptblock]::Create((irm "https://debloat.raphi.re/"))) -RunDefaults -Silent -DisableStartRecommended -DisableSuggestions -DisableDesktopSpotlight -EnableDarkMode -EnableEndTask -EnableLastActiveClick -ShowHiddenFolders

#### SET .cmdrc.cmd AS AUTORUN
Write-Host "SET .cmdrc.cmd as AutoRun" -ForeGroundColor Yellow
$CommandProcessor="HKLM:\SOFTWARE\Microsoft\Command Processor"
$cmdRcPath="$env:USERPROFILE\.cmdrc.cmd"
Set-Itemproperty -path $CommandProcessor -Name "AutoRun" -value $cmdRcPath

#### ENABLE CLINK AUTORUN AND DISABLE WELCOME MESSAGE
Write-Host "Enable Clink AutoRun and disable welcome message" -ForeGroundColor Yellow
cmd.exe /c '"%CLINK_DIR%\clink.bat" autorun install -a -- --quiet' | Out-Null