{{ template "elevate-powershell" }}

{{- $programPath := .programPath -}}
{{- $workComputer := .workComputer -}}
{{- range $key, $app := .apps -}}

{{- if $app.windows -}}
{{- if not (and (eq $workComputer true) (eq $app.forPersonal true)) -}}
Write-Host "Processing {{ $key }}"
{{- if eq $app.windows.method "winget" }}

$PackageVersion = $(Find-WinGetPackage -MatchOption Equals -Id {{ $app.windows.id }}).Version
$InstalledVersion = $(Get-WinGetPackage -MatchOption Equals -Id {{ $app.windows.id }}).InstalledVersion
if ($InstalledVersion) {
  if (($PackageVersion -ne $InstalledVersion) -and ($PackageVersion -ne "Unknown")) {
    Write-Host "Updating from $($InstalledVersion) to $($PackageVersion) via WinGet..." -ForegroundColor Green
    Update-WinGetPackage -Mode Silent -MatchOption Equals -Id {{ $app.windows.id }}
  } else {
    Write-Host "No update required" -ForegroundColor Yellow
  }
} else {
  if (-not $PackageVersion) {
    Write-Host "Does not exist in WinGet" -ForegroundColor Red
  } else {
    Write-Host "Installing {{ $app.windows.id }} via WinGet..." -ForegroundColor Green
    Install-WinGetPackage -Mode Silent -MatchOption Equals -Id {{ $app.windows.id }}
  }
}

{{- else if eq $app.windows.method "choco" }}

$PackageVersion = $(choco search -r -e {{ $app.windows.id }} | ConvertFrom-Csv -delimiter "|" -Header Id,Version).Version
$InstalledVersion = $(choco list --lo -r -e {{ $app.windows.id }} | ConvertFrom-Csv -delimiter "|" -Header Id,Version).Version
if ($InstalledVersion) {
  if ($PackageVersion -ne $InstalledVersion) {
    Write-Host "Updating from $($InstalledVersion) to $($PackageVersion) via Chocolately..." -ForegroundColor Green
    choco upgrade -e {{ $app.windows.id }} -y | Out-Null
  } else {
    Write-Host "No update required" -ForegroundColor Yellow
  }
} else {
  if (-not $PackageVersion) {
    Write-Host "Does not exist in Chocolately" -ForegroundColor Red
  }
  Write-Host "Installing {{ $app.windows.id }} via Chocolately..." -ForegroundColor Green
  choco install -e {{ $app.windows.id }} -y | Out-Null
}
{{ end }}
Write-Host ""
{{ end }}
{{- end }}
{{- end }}
refreshenv