{{- template "elevate-powershell" }}

#### SET .cmdrc.cmd AS AUTORUN
Write-Host "Setting .cmdrc.cmd as AutoRun"
$CommandProcessor="HKLM:\SOFTWARE\Microsoft\Command Processor"
$cmdRcPath="$env:USERPROFILE\.cmdrc.cmd"
Set-Itemproperty -path $CommandProcessor -Name "AutoRun" -value $cmdRcPath

#### ENABLE CLINK AUTORUN AND DISABLE WELCOME MESSAGE
Write-Host "Setting Clink as AutoRun and disabling welcome message"
cmd.exe /c '"%CLINK_DIR%\clink.bat" autorun install -a -- --quiet'