{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{- $projectPath := .projectPath -}}

if ! gh auth status >/dev/null 2>&1; then
    gh auth login -p ssh --web
fi

PROJECT_PATH = "{{ $projectPath }}/Personal"
REPOS=$(gh repo list --source --json name,nameWithOwner -L 5)

for REPO in $(jq --compact-output '.[]' <<< $REPOS); do
    REPO_NAME=$(jq '.name' <<< $REPO | tr -d '"')
    REPO_NAME_WITH_OWNER=$(jq '.nameWithOwner' <<< $REPO | tr -d '"')
    REPO_PATH="$PROJECT_PATH/$REPO_NAME"
    
    if [ ! -d $REPO_PATH ]; then
        gh repo clone $REPO_NAME_WITH_OWNER $REPO_PATH
    else
        echo "$REPO_PATH already exists"
    fi
done
{{- end -}}