{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{- $rootDir := .chezmoi.sourceDir }}

# default-packages hash: {{ include "default-packages" | sha256sum }}

cp {{ $rootDir }}\default-packages $NVM_HOME
{{- end -}}